// COLORS MAIN
$color-main: rgb(23, 35, 57);
$color-grey: rgb(73, 86, 109);
$color-beige: rgb(243, 237, 231);
$color-white: rgb(250, 248, 246);
$color-1: rgb(160, 96, 255);
$color-2: rgb(203, 48, 227);
$color-3: rgb(255, 168, 78);

//COLORS TEXT

// FONTS
$ff-main: 'Epilogue', sans-serif;

//FONT SIZES
$fs-heading-xl: 7.2rem;
$fs-heading-l: 4.8rem;
$fs-heading-m: 1.8rem;
$fs-heading-s: 1.6rem;
$fs-quote: 2rem;
$fs-body: 1.8rem;
$fs-footer: 1.5rem;


//BREAK POINTS
$bp-large: 1080px;
$bp-tablet: 810px;
$bp-mobile: 600px;

$dt-horizontal-margin: 70vw;

*,
*::after,  /*  Use this so the pseudo elements don't get this behavior - good practice*/
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* This sets the root font size so 1rem = 10px . The % will be that of the root value of 16px*/
  height: 100%;
}

body {

  box-sizing: border-box;
  min-height: 100%;
 
    

}
span {
  white-space: pre;
}

